${packageLine}

import javax.persistence.AttributeConverter;
import javax.persistence.Converter;
import javax.persistence.EnumType;

${enumClassImportLine}

@Converter(autoApply = true)
public class ${convertorSimpleClassName} implements AttributeConverter<${qualifiedClassName}, String> {

    private final EnumType TYPE = EnumType.${enumType};

    @Override
    public String convertToDatabaseColumn(${qualifiedClassName} attribute) {
        if(attribute == null) return null;
        return attribute.name();
    }

    @Override
    public ${qualifiedClassName} convertToEntityAttribute(String dbData) {
        if(TYPE == EnumType.STRING) {
            return convertToEntityAttributeByName(dbData);
        }
        return convertToEntityAttributeByOrdinalValue(dbData);


    }
    private ${qualifiedClassName} convertToEntityAttributeByName(String dbData){
        if(dbData == null || dbData.length() == 0) return null;
        for(${qualifiedClassName} vl : ${qualifiedClassName}.values()) {
            String nm = vl.name();
            if(nm.equalsIgnoreCase(dbData)) return vl;
        }
        return null;
    }
    private ${qualifiedClassName} convertToEntityAttributeByOrdinalValue(String dbData){
        if(dbData == null || dbData.length() == 0) return null;
        int ordinalValue = Integer.valueOf(dbData);
        for(${qualifiedClassName} vl : ${qualifiedClassName}.values()) {
            if(ordinalValue == vl.ordinal()) return vl;
        }
        return null;
    }
}
